.second_ban {
    margin: 0;
    width: 100%;
    height: 1180px;
}

.first-line {
    width: 70%;
    margin-top: 100px;
    margin-left: 8%;
    display: grid;
    grid-template-columns: repeat(10, 7%);
    grid-template-rows: repeat(10, 10%);
    grid-gap: 60px;
}

.first-item {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 8;
    background-image: url(../img/gourment.png);
    background-repeat: no-repeat;

}

.f-pic {
    position: absolute;
    top: 410px;
    left: 50px;
}

.first-item img {
    margin: 0;
}

.first-item p {
    margin: 0;
    padding-top: 10px;
    font-size: 60px;
    letter-spacing: 14px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Nunito Sans";
    text-align: left;
}


.second-item {
    position: relative;
    background-image: url(../img/carhartt.png);
    background-repeat: no-repeat;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 5;
}

.third-item {
    position: relative;
    margin-top: 40px;
    background-image: url(../img/adidas.png);
    background-repeat: no-repeat;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 8;
}

.s-pic {
    position: absolute;
    top: 120px;
    left: 30px;
}

.s-pic img {
    margin: 0;
}

.s-pic p {
    margin: 0;
    margin-top: 20px;
    width: 400px;
    font-size: 40px;
    letter-spacing: 16px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Nunito Sans";
    
}


.second-line {
    width: 70%;
    margin-top: 270px;
    margin-left: 8%;
    display: grid;
    grid-template-columns: repeat(12, 7%);
    grid-template-rows: repeat(3, 25%);
    grid-gap: 34px;
}

.item1 {
    position: relative;
    background-image: url(../img/deep.png);
    background-repeat: no-repeat;
    background-size: contain;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 12;
}

.item2 {
    position: relative;
    background-image: url(../img/palace.png);
    background-repeat: no-repeat;
    background-size: contain;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 12;
}

.item3 {
    position: relative;
    background-image: url(../img/nike.png);
    background-repeat: no-repeat;
    background-size: contain;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 12;

}

.t-pic {
    position: absolute;
    bottom: 120px;
    left: 30px;
}

.t-pic img {
    margin: 0;
}

.t-pic p {
    margin: 0;
    margin-top: 20px;
    font-size: 40px;
letter-spacing: 16px;
line-height: 50px;
color: #ffffff;
font-weight: 300;
font-family: "Proxima Nova";
font-family: "Nunito Sans";
}