footer {
    margin: auto;
width: 85%;
height: 150px;
display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-li {
    float: left;
}

.list-li ul>li {
    float: left;
    list-style-type: none;
}

.list-li a {
    font-size: 18px;
    color: #1a1a1a;
    font-weight: bold;
    
line-height: 40px;
    font-family: "Nunito Sans";
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    padding-right: 30px;
}

footer img {
    padding-right: 30px;
}