.ic_header {
    width: 85%;
    margin: auto;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ic_header nav {
    float: right;
    margin: 0;
}

.ic_header nav>ul>li {
    float: left;
    list-style-type: none;
}

.ic_header a {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Nunito Sans";
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    padding-right: 20px;
}

.ic_header a:hover {
    color: #f84545;
    transition: 0.5s;
}
